.example-card {
  max-width: 400px;
  margin: 20px;
  cursor: pointer;
  margin: 20px;
}

.flex {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
}

img{height: 300px;
  object-fit: contain;
}


.title{

  font: 500;
  margin: 0 auto;
}

.example-button-container{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-end;
  margin: 10px;
}
